@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto+Slab:wght@800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body{
    background: #fff;
    font-family: 'Montserrat';
}

.container video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
}

header{
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
}

nav ul li{
    list-style-type: none;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    padding: 20px;
}

nav ul li a{
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    transition: all 200ms ease;
    padding: 20px 50px;
}

nav ul li a:hover{
    background-color: #9fa6a1;
    color: #4e524f;
    border-bottom: 1px solid black;
}

.basic-information{
    position: relative;
    width: 100%;
    height: 95vh;
}

.content-name-details{
    position: absolute;
    transform: translate(13%, 10%);
    width: 80%;
    height: 70vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 11%,rgba(255,255,255,0.3) 12%,rgba(255,255,255,1) 29%,rgba(255,255,255,0.3) 100%);;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
}

.content-name-details #profile-photo{
    position: absolute;
    right: 3%;
    top: 8%;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
}

.content-name-details .details-header{
    padding: 15px;
    margin-left: 3%;
    width: 60%;
    border-bottom: 1px solid #dbd7d7;
}

.content-name-details .details-header p{
    color: #287094;
}

.content-name-details .details-header h1{
    font-size: 50px;
    color: #287094;
}

.content-name-details .details-header p{
    font-size: 15px;
}

.content-name-details .information table{
    position: absolute;
    top: 30%;
    left: 5%;
}

.content-name-details .information table td{
    padding: 10px 20px;
}

.content-name-details .information .fa{
    padding: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    transition: all 200ms ease;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
}

.content-name-details .information .fa:hover{
    background: red;
    color: black;
}

.content-name-details .information .fa-facebook{
    background: #3B5998;
    color: white;
}

.content-name-details .information .fa-instagram{
    background: #531180;
    color: white;
}

.content-name-details .information .fa-twitter{
    background: #3B5998;
    color: white;
}

.content-name-details .information .fa-github{
    background: #000;
    color: #fff;
}

.biography-container{
    background: #fff;
    width: 100%;
    background: url("Images/technology.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#biography{
    display: flex;
    gap: 1.5rem;
    padding: 50px;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
}

#biography > div{
    text-align: center;
    padding: 50px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9), rgba(255,255,255,0.9));
}

#biography h3{
    font-size: 40px;
    margin-bottom: 5%;
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    color: #287094;
    border-bottom: 1px solid #dbd7d7;
}

#skills{
    text-align: center;
    position: relative;
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.3), rgba(255,255,255,1));
}

#skills h3{
    padding: 10px;
    font-size: 30px;
    color: #393D3F;
}

#skills p{
    font-weight: lighter;
    letter-spacing: 1px;
    color: #287094;
}

#skills .technologies{
    display: flex;
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    transform: translate(0%, 25%);
}

#skills .technologies .programming-panel{
    text-align: center;
    width: 15%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    background: #393D3F;
}

#skills .technologies .progLang-icon{
    padding: 15px;
    background: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

#skills .technologies span{
    font-size: 20px;
    margin-bottom: 10px;
}

#skills .checked{
    color: orange;
}

#hobbies{
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0), rgba(255,255,255,1)), url("Images/darkwhite.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 7rem;
}

#hobbies h3{
    padding: 10px;
    font-size: 30px;
    color: #393D3F;
}

#hobbies p{
    font-weight: lighter;
    letter-spacing: 1px;
    color: #287094;
}

.hobbies-container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.hobbies-container .hobby{
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 20px;
}

.hobbies-container .hobby img{
    width: 100%;
    height: auto;
}

.hobbies-container .hobby h1{
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
    color: white;
    padding: 20px 50px;
    top: 0;
    right: 0;
}

#reference{
    text-align: center;
    padding: 30px;
    background: #fff;
}

#reference h3{
    padding: 10px;
    font-size: 30px;
    color: #393D3F;
}

#reference p{
    font-weight: lighter;
    letter-spacing: 1px;
    color: #287094;
}

#reference .reference-container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: center;
    width: 90%;
    margin: 20px auto;
    padding: 15px;
}

#reference .reference-information img{
    width: 100%;
}

#reference .reference-information{
    text-align: center;
    position: relative;
    width: 10%;
    height: 75vh;
    flex-grow: 1;
    margin: 0 auto;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
}

#reference .reference-information .information{
    padding: 20px;
}

.footer{
    text-align: center;
    width: 100%;
    height: auto;
    position: absolute;
    background: #262626;
    padding: 50px 0px;
}

.footer img{
    width: 100px;
    color: white;
    background-color: white;
    border-radius: 50%;
    transition: all 500ms ease;
}

.footer img:hover{
    width: 150px;
}

.footer p{
    color: white;
}

.footer a{
    text-decoration: none;
}